@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:ital@1&family=Poppins&family=Raleway:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
/* nav-area css starts */
.nav-area{
    margin-top: 100px;
}
.nav-area .row{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: flex-end;
    
    gap: 45px;
    /* align-items: flex-start; */
    
}
.logo{
    width: 15%;
}
.menu{
    width: 65%;
}
.menu a{
    text-decoration: none;
    font-weight: 800;
}
.menu a i .fa-solid fa-magnifying-glass{
    font-size: 30px;
}
.search-icon i{
    font-size: 25px;
    padding-left: 15px;
    
}
.cart-icon i{
    font-size: 25px;
    padding-right: 70px;
}
/* nav-area css ends */